$base-black: #515E5E;
$base-darkgray: #8E9898;
$base-lightgray: #D4DBDB;
$base-white: #F8FEFE;
$white: #ffffff;

$main-blue: #3B62B9;
$point-skyblue: #A9EBFD;
$point-red: #ED729D;

$sky-gradient: linear-gradient(93.91deg, #164FCE 0%, #A9EBFD 109.74%);
