@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html,
body {
  margin: 0;
  height: 100%;
}

#__nuxt {
  font-family: 'Noto Sans', YuGothic, 游ゴシック体, 'Sawarabi Gothic', 'Avenir', Helvetica, Arial, Hiragino Sans, ヒラギノ角ゴシック, メイリオ, Meiryo, ＭＳ\Ｐゴシック, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base-black;
  background-color: $base-white;
  font-size: 15px;
}

#__nuxt,
#__layout {
  height: 100%; width: 100%;
  overflow: auto;
}

a {
  font-weight: bold;
  color: $point-red;
  text-decoration: none;
  width: fit-content;

  // 内部リンク
  &.nuxt-link {
    color: $point-skyblue;
  }

  &:hover {
    color: $base-lightgray;
  }

  ion-icon{
    vertical-align: middle;
    margin-right:0.1rem;
  }
}


ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.is-fullheight {
  height: 100%;
}

.is-disabled {
  pointer-events: none !important;
  color: $base-lightgray;
}

.button,
.input,
.textarea,
.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  font-size: 1rem;
  font-family: inherit;
  height: 35px;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
}

.is-clickable {
  cursor: pointer;
}

// scrollbar
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: $base-lightgray;
  border-radius: 10px;
}
